/* IMPORTS START */

@import "../js/vendor/select2/select2.css";
@import "../js/vendor/ol3/ol3.css";
@import "../js/vendor/ol3/ol3-loadingpanel.css";
@import "../js/vendor/ol3/ol3-zoomtomaxextent.css";
@import "../js/vendor/ol3/ol3-layerswitcher.css";
@import "../js/vendor/ol3/ol3-tooltip.css";
@import "mixins.css";
@import "bootstrap.min.css";
@import "cssgrids-min.css";
@import "highcharts.css";
@import "jquery-ui.css";
@import "jquery.dataTables.min.css";
@import "colReorder.dataTables.min.css";
@import "fixedColumns.dataTables.min.css";
@import "fixedHeader.dataTables.min.css";

/* IMPORTS END */

/* FONTS START */

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}

/* FONTS END */

/** Main layout **/
/** ----------- **/

* {
    	-webkit-overflow-scrolling: auto !important;
    	overflow-scrolling: auto !important;
    	.font-smoothing;
}

.hwa {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
	

.wrapper {
    	min-height: 100% !important;
    	height: 100% !important;
    	margin: 0px !important;
    	position: relative !important;
}

.pages {
    	margin: 0px;
    	padding: 0px;
    	height: 100%;
    	overflow: hidden;
    	padding-bottom: 32px;
    	position: relative;
}

.page {
    	.hwa;
    	width: 100%;
    	height: 100%;
    	margin: 0px;
}

.page .content {
    	width: 100%;
	height: 100%;
}
    
#pageMap {
        display: block;
        background-color: rgba(2, 113, 190, 1);
}
    
#pageResults, #pageReports {
        width: 100%;
        height: 100%;
}

#pageResults, #pageReports{

}
        
#pageResults .content, #pageReports .content {
	padding: 32px;
	padding-bottom: 92px;
}
            
#mpaResults, #mpaReports {
	width: 100%;
	height: 100%;
}

header, header * {
	color: inherit !important;
}


#mpa-web {
    display: none;
}

.mpa-web-version{
	text-align: left;
}

#logo {
    	height: 32px;
    	width: auto;
    	text-align: center;
}

nav {
    	padding-left: 0px;
    	padding-right: 0px;
    	background-color: transparent !important;
    	border: 0px !important;
}


nav ul {
        padding-left: 0px;
        margin-bottom: 0px;
}

nav ul li {
    	display: inline-block;
    	padding: 6px;
    	margin: 2px;
    	color: #fff !important;
    	background-color: rgba(32, 36, 44, 1);
    	border: 2px solid rgba(32, 36, 44, .7);
    	border-radius: 8px;
    	.hwa;
	transition: background-color .25s ease-in-out;
   	-moz-transition: background-color .25s ease-in-out;
   	-webkit-transition: background-color .25s ease-in-out;
}
    
nav ul li:hover {
        cursor: pointer;
        background-color: rgba(32, 36, 44, .9);
}
    
nav ul li.active {
        background-color: #444B5A;
}

html, body {
    	overflow: hidden;
    	min-height: 100% !important;
    	height: 100% !important;
    	font-family: "Montserrat", sans-serif !important;
}

.sidebar, #map, #layerswitcher {
    	height: 100% !important;
}

.sidebar::-webkit-scrollbar { 
    	display: none; 
}

.sidebar {
    	background-color: rgba(2, 113, 190, 1);
    	padding: 8px;
    	margin: 0px;
    	max-height: 100%;
    	overflow-y: scroll;
    	overflow-x: hidden;
    	padding-bottom: 32px;
}

.sidebarContent {
        color: #fff;
        padding: 16px;
        border-radius: 4px;
        margin: 16px 0px;
        text-align: center;
}

.sidebarContent ul{
	padding:0;
}

.content {
    	height: 100%;
    	position: relative;
}

table {
	font-size:80%;
}

/** Loader **/

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(360deg);}
100% { -webkit-transform: rotate(0deg);}
}
@-moz-keyframes spin {
0% { -moz-transform: rotate(360deg);}
100% { -moz-transform: rotate(0deg);}
}
@-o-keyframes spin {
0% { -o-transform: rotate(360deg);}
100% { -o-transform: rotate(0deg);}
}
@-ms-keyframes spin {
0% { -ms-transform: rotate(360deg);}
100% { -ms-transform: rotate(0deg);}
}
@-keyframes spin {
0% { transform: rotate(360deg);}
100% { transform: rotate(0deg);}
} 


.loader {
	text-align:center;
	display:none;
	font-size:80%;
}

.loader img {
    	.hwa;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	width: 48px;
	height: 48px;
}


/** MAP - Container **/

#map, #map * {
    	.hwa;
}

#map {
    	background-color: #fff;
}

/** MAP - LayerSwitcher **/

#layerswitcher, #layerswitcher * {
    	s.hwa;
}

#layerswitcher {
    	position: absolute;
	width: 200px;
    	z-index: 10;
    	top: 0px;
    	right: 0px;
	width: 25%/2;
	height: 100%;
	font-size: 80%;
    	background-color: #fff;
    	border-left: 2px solid rgba(2, 113, 190, 1);
    	padding: 2px;
    	margin: 0px;
    	opacity: 0.5;
	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
    
}

#layerswitcher:hover {
 	opacity: 1;
}

#layerswitcher div {
	height: 100%;
	background-color: transparent;
	border: 0px !important;
	padding: 2px;  
}

#layerswitcher  ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.selector-wrapper {
    	position: relative;
    	width: 100%;
}

#areaTypeSelector, #areaSelector, #areaSelector:disabled {
	width: 100% !important;
}

#analyzer {
	padding: 6px;
	margin: 2px;
	display: inline-block;
	color: #111 !important;
	background-color: #fff;
	border: 2px solid #0D66A4;
	border-radius: 16px;
	.hwa;
	-webkit-transition: background-color 1000ms linear;
   	-ms-transition: background-color 1000ms linear;
    	transition: background-color 1000ms linear;
}

#analyzer:hover {
        cursor: pointer;
        background-color: #E1E9EC;
}

/* ======== */
/*   Tabs   */
/* ======== */

#mpaTabs {
    	height:400px;
    	border: 0px;
}

/* Results */

#mpaResultsLoader {
    	position: absolute;
    	height: 100px;
    	width: 100px;
    	top: 50%;
    	left: 50%;
    	margin-top: -50px;
    	margin-left: -50px;
}
.pendingText {
    	position: absolute;
    	height: 20px;
    	width: 500px;
    	top: 50%;
    	left: 50%;
    	margin-top: -10px;
    	margin-left: -250px;
}
#mpaResultsWrapper {
    	height: 50% !important;
}
#mpaResultsCharts {
    	display: none;
    	height: 50% !important;
	min-width: 310px;
	height: 400px;
	margin: 20px auto
}
#mpaReportMainWrapper {
    	height: auto;
}
#mpaReportFeatureWrapper {
    	height: 100% !important;
}
#mpaReportLoader {
    	position: absolute;
    	height: 100px;
    	width: 100px;
   	top: 50%;
    	left: 50%;
    	margin-top: -50px;
    	margin-left: -50px;
}


#mpaResults {height:80%;}
.mpa-table-name{font-weight:bold;color:#655898 !important;}
.mpa-table-stat{font-style:italic;}
.mpa-timer{position: absolute;top: 50px;}
.mpa-formatswitcher{margin:0 auto;}
.mpa-formatswitcher td {padding: 4px;}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom: none;
}

/* Reporting */

.mpa-report-button{
    padding: 6px;
    margin: 2px;
	display: inline-block;
    color: #111 !important;
    font-size: 90%;
    background-color: lighten(spin(#fff - rgba(32, 36, 44, 1), 180), 16%);
    border: 2px solid lighten(spin(#fff - rgba(32, 36, 44, 1), 180), 8%);
    border-radius: 16px;
    .transition(background-color @0.25s);
    .hwa;
}
    
.mpa-report-button:hover {
        cursor: pointer;
        background-color: spin(#fff - rgba(32, 36, 44, 1), 180);
    }
}

input.mpa-report-button.selected{
   background-color: #655898;
   color:#fff !important;
}

.mpa-report-title{margin-top:0px;margin-bottom:0px;}
.mpa-report-location{color:#655898;}
.mpa-report-featurelist{
	width:100%;
	padding:0;
	height: 90%;
}
.mpa-report-feature{
	list-style:none;
	padding:5px 10px;
	height: 100%;
	box-sizing:border-box;
	border: 1px solid white;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
	background: rgb(242,245,246); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2UzZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGQ3ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10 preview */
	background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-8 */
}

h3.mpa-report-feature-title {
	color: orange;
}
span.mpa-report-feature-source {
	color: orange;
}
span.mpa-report-feature-target{
	color:#655898;
}

.mpa-report-feature-wrapper{
	width:50%;
	height: 100%;
    	float: left;
}
.mpa-report-feature-desc, .mpa-report-feature-stats{
	width:100%;
}
.mpa-report-feature-map{
	width:50%;
	height: 100%;
    	float: right;
}

.mpa-report-feature-map img{
	border: 1px solid white;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	float:right;
}

.mpa-report-indicator{
	list-style:none;
}

/* START OF FOOTER */
footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
    text-align: center;
    background-color: rgba(2, 113, 190, 1);
    //background-image: url('../img/cartographer.png');
    //background-position: center;
    color: #fff;
    line-height: 32px;
    z-index: 20;
}

footer p:nth-child(1) {
	text-align: left;
}
footer p:nth-child(2) {
        text-align: center;
}
footer p:nth-child(3) {
        text-align: right;
}
    
footer a {
        color: #fff;
        .transition(color @0.25s);
        
footer a:hover {
	cursor: pointer;
	text-decoration: none;
}

/* END OF FOOTER */
